<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2"
        name="/Users/wuyuxin/Documents/go/java/leetcode-java/src/main/java/cn/isnap/leetcode/backtrack/BinaryTreePaths.java">
    <classes/>
  </test>
</suite>